<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab1.Properties.Settings.Cat_CafeConnectionString"
            connectionString="Data Source=DESKTOP-6QSI2DC\MSSQLSERVER01;Initial Catalog=Cat_Cafe;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>